<!DOCTYPE html>
<html>
  <head>
    <title>Tickets2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="sign-out">sign_out</p>
    <%= yield %>
  </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.sign-out').click(function(){
          $.ajax({
            url: 'users/sign_out',
            type: 'DELETE',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
              console.log('success')
              console.log(returndata)
            },
            error: function(returndata) {
              console.log('error')
              console.log(returndata)
            },
            complete: function () {
            },
          });
        })
      });
    </script>
  </body>
</html>
