<!DOCTYPE html>
<html>
  <head>
    <title>Tickets2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div id="log_in_out"></div>
    <div id="content"></div>
    <%= yield %>
  </div>
  <script type="text/javascript">
    var setCurrentUserId = function() {
      <% if !current_user.blank? %>
      Tickets2.Vars.currentUser.set('id', <%= current_user.id %>);
      Tickets2.Vars.currentUser.set('role', '<%= current_user.role %>');
      <% end %>
    };
  </script>
  </body>
</html>
